<a href="https://colab.research.google.com/github/Topanalkahari/ml-zoomcamp/blob/main/Summary_section_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [82]:
pd.__version__

'2.1.4'

In [23]:
import numpy as np
import pandas as pd

In [24]:
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv"

In [25]:
df = pd.read_csv(url)

In [34]:
df.count()

Laptop          2160
Status          2160
Brand           2160
Model           2160
CPU             2160
RAM             2160
Storage         2160
Storage type    2118
GPU              789
Screen          2156
Touch           2160
Final Price     2160
dtype: int64

In [33]:
df['Brand'].uique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [35]:
df['Brand'].nunique()

27

In [39]:
df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [54]:
df_dell = df[df['Brand'] == 'Dell']

df_dell_max = df_dell['Final Price'].max()
df_dell_max

3936.0

In [57]:
df['Screen'].median()

15.6

In [65]:
screen_count = df['Screen'].value_counts()

screen_most = screen_count.idxmax()

df['Screen'].fillna(screen_most, inplace=True)
df['Screen'].isna().sum()

0

In [70]:
df_injo = df[df['Brand'] == 'Innjoo']

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2160 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [76]:
selected_injo_cols = df_injo[['RAM', 'Storage', 'Screen']]

In [80]:
X = selected_injo_cols.to_numpy()

XTX = X.T.dot(X)

XTX_inv = np.linalg.inv(XTX)

y = np.array([1100, 1300, 800, 900, 1000, 1100])

w = XTX_inv @ X.T @ y

result_sum = np.sum(w)

result_sum

91.2998806299555